<h2>In-Stock Animals</h2>
<!--<a ngIf="owner-condition">-->
<div>
  <label for="new-animal">Animal name: </label>
  <input id="new-animal" #animalName />

  <label for="new-animal">Animal Species: </label>
  <input id="new-animal" #animalSpecies />

  <label for="new-animal">Animal Price: </label>
  <input id="new-animal" #animalPrice />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(animalName.value); animalName.value=''; animalSpecies.value=''; animalPrice.value=''">
    Add animal
  </button>
</div>
<!--</a>-->

<ul class="animals">
  <li *ngFor="let animal of animals">
    <a routerLink="/detail/{{animal.id}}">
      <span class="badge">{{animal.id}}</span> {{animal.name}}
    </a>
    <!--<a ngIf="owner-condition">-->
    <button type="button" class="delete" title="delete animal"
      (click)="delete(animal)">x</button>
    <!--</a>-->
  </li>
</ul>