<h2>Shopping cart</h2>
<span *ngIf="!isUser()">You must be signed in to access a shopping cart</span>
<span *ngIf="isUser()">
  <span *ngIf="isAdmin()">Admins do not have access to the shopping cart</span>
  <span *ngIf="!isAdmin()">
    <div class="shoppingcart">
    <a *ngFor="let animal of animals"
      routerLink="/detail/{{animal.id}}">
      {{animal.name}} (Species: {{animal.species}})
    </a>
    <br>
    <button (click)="checkout(); router.navigate(['/dashboard']);">Checkout</button>
     </div> 
  </span>
</span>
