/* AnimalDetailComponent's private CSS styles */
  li {
    position: relative;
    cursor: pointer;
    list-style-type: none;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  input#species-info{
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  button#saveButton {
    position: absolute;
    left: 1437px;
    top: 3px;
    margin-top: 1px;
    margin-right: .5rem;
    background-color: #eee;
    padding: .25rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button {
    margin-top: 1px;
    margin-right: .5rem;
    background-color: #eee;
    padding: .25rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    color: white;
    background-color: #3d3221;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .info{
    font-size: 1em;
    padding: .5rem;
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  .dynamic-input{
    font-size: 1em;
    padding: .5rem;
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }