<div *ngIf="animal">
    <h2>{{animal.name}} Details</h2>
    <span *ngIf="isAdmin()">
    <div>
      <label for="animal-name">Animal name: </label>
      <input id="animal-name" [(ngModel)]="animal.name" placeholder="Animal name"/>
    </div>
    <div>
        <label for="animal-species">Species: </label>
        <input id="animal-species" [(ngModel)]="animal.species" placeholder="Animal species"/>
      </div>
    
    <div>
        <label for="animal-price">Price: </label>
        <input id="animal-price" [(ngModel)]="animal.price" placeholder="Animal price"/>
      </div>
    
    </span>

    <span *ngIf="!isAdmin()">
        <div><span><b>Name: </b></span>{{animal.name}}</div>
        <br>
          <div><span><b>Species: </b></span>{{animal.species}}</div>
          <br>
          <div><span><b>Price: </b></span>{{animal.price}}</div>

          <span *ngIf="isUser()"><button type="button" (click)="add()">Add to Shopping Cart</button></span>

          <span *ngIf="isUser()"><button type="button" (click)="remove()">Remove from Shopping Cart</button></span>
          <br>
          <span *ngIf="cartAction"><b>{{message}}</b></span>
          <br>
    </span>

    <button type="button" (click)="goBack()">Back</button>
    <span *ngIf="isAdmin()"><button type="button" (click)="save()">save</button></span>
    <span *ngIf="isAdmin()">
      <button type="button" class="delete" title="delete animal"
        (click)="delete(animal); router.navigate(['/dashboard']);">Delete Animal</button>
    </span>
  </div>
