<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Animals</a>
  <a routerLink="/history">Product History</a>
  <a routerLink="/species">Species Care</a>
  <b routerLink="/shoppingCart">Shopping Cart</b>
  <b *ngIf="!loggedIn()" routerLink="/register">Register</b>
  <b *ngIf="!loggedIn()" routerLink="/login">Login</b>
  <b *ngIf="loggedIn()" routerLink="/login">Logout</b>
</nav>
<router-outlet></router-outlet>
<span ><b>Logged in as user: {{getUsername()}}</b></span>
<app-messages></app-messages>
